body {
margin: 0;
padding: 0;
background-image: url()
}

.header {
	margin: 0 auto;
	padding: 0 100px;
}
h1{
	color: #fff;
	font-size: 50px;
}
a {
	text-decoration: none;
	
}
.button {
	background-color: #fff;
	  border: 1px solid #fff;
	  border-radius: 5px;
	  width: 350px;
	  height: 200px;
	  color: #cb5b25;
	  margin: 15px 0;
	  transition: all 0.2s ease-in-out;
		box-shadow: 0 4px 30px 0 rgba(255, 255, 255, .1);
}

.button:hover {
	transform: translateY(-10px);
  transition: all 0.2s ease-in-out;
  transition-duration: 0.2s;
}